<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-black sticky-top">
        <div class="container">
            <a class="navbar-brand fw-bold fs-4" th:href="@{/}">HOSPEDIUM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto text-uppercase align-items-center gap-2">
                    <li class="nav-item"><a class="nav-link" th:href="@{/}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/habitaciones}">Habitaciones</a></li>


                    <li class="nav-item ms-2" sec:authorize="hasRole('USER')">
                        <a class="nav-link" th:href="@{/misreservas}">Mis reservas</a>
                    </li>


                    <li class="nav-item ms-2" sec:authorize="hasRole('USER')">
                        <a class="btn btn-outline-light btn-sm px-4 rounded-0" th:href="@{/reserva/nueva}">Reservar</a>
                    </li>

           
                    <li class="nav-item ms-2" sec:authorize="hasRole('ADMIN')">
                        <a class="btn btn-outline-light btn-sm px-4 rounded-0" th:href="@{/admin/admininicio}">Panel Admin</a>
                    </li>

      
                    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-outline-light btn-sm px-4 m-3 rounded-0">
                            Cerrar sesión
                        </button>
                    </form>


                    <li class="nav-item ms-2" sec:authorize="!isAuthenticated()">
                        <a class="btn btn-outline-light btn-sm px-4 rounded-2" th:href="@{/login}">Iniciar sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</body>
</html>
