<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Hospedium - Reserva</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6">

				<div class="card shadow">

					<div class="card-header bg-primary text-white text-center">
						<h4 class="mb-0">Formulario de Reserva</h4>
					</div>

					<div class="card-body p-4">
						<form th:action="@{/reserva/confirmar}" th:object="${reserva}" method="post">

							<div class="mb-3">
								<label class="form-label">DNI del Cliente:</label>
								<input type="text" th:field="*{cliente.dni}" class="form-control"
									placeholder="Escriba el DNI" required>
							</div>

							<div class="row">
								<div class="col-md-6 mb-3">
									<label class="form-label">Fecha Entrada:</label>
									<input type="date" th:field="*{fechaInicio}" class="form-control" required>
								</div>
								<div class="col-md-6 mb-3">
									<label class="form-label">Fecha Salida:</label>
									<input type="date" th:field="*{fechaFin}" class="form-control" required>
								</div>
							</div>
							<div>
								<label class="form-label">Número de Personas:</label>
								<input type="number" th:field="*{numPersonas}" class="form-control"
									placeholder="Escriba el número de personas" required>
							</div>
							<div>
								<label class="form-label">Tipo de Habitación:</label>
								<select th:field="*{tipo}" class="form-select" required>
									<option value="" disabled selected>Seleccione un tipo de habitación</option>
									<option value="Individual">Individual</option>
									<option value="Double">Double</option>
									<option value="Suite">Suite</option>
								</select>
							</div>
							<div>
								<label for="">Servicio</label>
								<select th:field="*{nomber.servicio}" class="form-select" required>
									<option value="" disabled selected>Seleccione un servicio</option>
									<option value="Futbol">Pista de fútbol</option>
									<option value="Padel">Pista de pádel</option>
									<option value="Arco">Tiro con arco</option>
									<option value="Spa">Spa</option>
							</div>

							<div class="d-grid gap-2 mt-3">
								<button type="submit" class="btn btn-success">Confirmar Reserva</button>
								<a href="/" class="btn btn-danger">Cancelar</a>
							</div>

						</form>
					</div>

				</div>
			</div>
		</div>
	</div>

</body>

</html>